[build]
builder = "nixpacks"

[deploy]
startCommand = "npm start"

[env]
MONGO_URI = "mongodb+srv://raharpashopp:raharpashopp@raharpashopp.wx9mt27.mongodb.net/raharpashopp?retryWrites=true&w=majority"